
cache/*
*.csv
*.pdf
*.png
*.aux
*.bbl
*.log
*.toc
*.tex
*.blg
.Rproj.user

analysis/risksupp.synctex.gz

paleorisk/paleorisk.Rproj

*.rda
*.rds

*.fff

*.lof

*.history
*.Rhistory

*.ttt

analysis/max_col_range_class_maps.txt

analysis/diff_in_range_of_probabilities_within_vs_between_provs.txt

*.out

analysis/diff_in_range.txt

*.rtf

analysis/Session.vim
